html {
    scroll-behavior: smooth;
}

body.fade-out {
    opacity: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #222;
    transition: opacity 0.5s ease;
}

#encabezado {
    background: #3a86ff;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px rgba(0,0,15);
}

.logoCaja {
    display: flex;
    align-items: center;
}

#logoImg {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

#logoTitulo {
    font-size: 36px;
    margin-left: 15px;
    font-weight: bold;
    color: white;
}

#btnMenu {
    display: none;
    background: #1a1a1a;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 6px;
    transition: 0.3s;
}

#hamburguesa {
    display: none;
}

#btnMenu:hover {
    background: #333;
}

#menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.opcion {
    color: white;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 6px;
    transition: 0.3s ease;
}

.opcion:hover {
    background: rgb(0, 0, 0);
    border: 2px solid black;
}

#Llamar{
    background: black;
    color: white;
    border: none;
    padding: 7px 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
    text-decoration: none;
}

#Llamar:hover {
    background: #7a7878;
}

#inicio {
    display: flex;
    padding: 40px;
    background: white;
    gap: 30px;
}

#cajaInicio {
    margin: 50px;
    border: solid 3px;
    border-radius: 10px;
    border-color: black;
    width: 800px;
    padding: 25px;
}

#inicoTexto{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 40px;
}

#AgendarCita {
    background: black;
    color: white;
    margin-top: 30px;
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s ease;
    box-shadow: 0px 5px 15px rgba(0,0,0);
}

#AgendarCita:hover {
    background: #7a7878;
    box-shadow: 5px 10px rgb(88, 88, 88);
}

#foto {
    flex: 1;
    background: #d1d1d1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

#fotoImg {
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
}

#servicios {
    padding: 40px;
    text-align: center;
    background-color: #5082bb;
    color: rgb(0, 0, 0);
    box-shadow: 0px 5px 15px rgba(0,0,0);
}

#servT {
    background: #fcfcfc;
    color: black;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 20px;
    display: inline-block;
}

#servcaja {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.servicio {
    background: white;
    border: none;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0px 5px 15px rgba(0,0,0);
    transition: 0.4s ease;
}

.servicio:hover {
    transform: translateY(-5px);
    box-shadow: 10px 20px rgba(0,0,0,0.15);
}

#sobreNosotros {
    padding: 40px;
    background: #f4f4f4;
}

.sobreContenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

.sobreImagen img {
    width: 100%;
    height: 600px;
    width: 600px;
    border: 2px solid #000;
    background: #d1d6de;
    margin-left: 60px;
}

#Sobre {
    border: 2px solid black;
    background: white;
    padding: 6px 18px;
    border-radius: 4px;
    font-size: 15px;
    cursor: default;
    font-weight: bold;
}

.sobreTitulo {
    margin-top: 15px;
    font-size: 28px;
    color: #222;
}

.sobreDescripcion {
    color: #444;
    margin-top: 10px;
    line-height: 1.6;
}

.sobreBeneficios {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.beneficio {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icono {
    font-size: 28px;
    border: 2px solid black;
    padding: 8px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.beneficio h4 {
    margin: 0;
    font-size: 18px;
}

.beneficio p {
    margin: 0;
    color: #555;
    font-size: 14px;
}

#mediosCaja {
    background-color: #3a86ff;
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 30px 20px;
}

.medios {
    color: white;
    font-size: 20px;
    padding: 15px 25px;
    border: 2px solid white;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
    transition: 0.3s ease;
}

.medios:hover {
    transform: scale(1.05);
    background: rgba(255,255,255,0.15);
}

#pie {
    background-color: white;
    padding: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #333;
    font-weight: bold;
}
