body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
  transition: opacity 0.5s ease;
}

body.fade-out {
    opacity: 0;
}

#opciones {
  background: #4a8fd0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  color: white;
}

#btnVolver {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 8px 12px;
  border-radius: 5px;
  transition: 0.3s;
  margin-top: 10px;
  margin-bottom: 30px;
}

#btnVolver:hover {
    background-color: black;
}

#contcaja {
  padding: 40px;
  width: 500px;
  margin: auto;
  background: #f3f3f3;
  margin-top: 70px;
  border-radius: 8px;
  border-color: black;
  border: solid 5px;

}

#contTitulo {
  text-align: center;
  margin-bottom: 20px;
}

#formContenido {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#formCont{
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.campo2 {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

#btnEnviar {
  padding: 10px;
  background: #4a8fd0;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

#btnEnviar:hover {
  background: #3a7abc;
}

@media (max-width: 600px) {

  #opciones {
    padding: 10px;
    flex-direction: column;
    text-align: center;
    gap: 8px;
  }

  #btnVolver {
    font-size: 18px;
  }

  #contcaja {
    width: 350px;
    margin-top: 30px;
    padding: 20px;
  }

  #contTitulo {
    font-size: 20px;
  }

  #formContenido {
    gap: 15px;
  }

  #formCont,
  .campo2 {
    padding: 12px;
    font-size: 16px;
  }

  #btnEnviar {
    padding: 12px;
    font-size: 16px;
  }
}

